@mixin alto_minimo {
  margin-left: 1px;
  height: 100px;
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin texto {
  color: lighten(white, 30%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  @include center-children;
}

@mixin contenedor_base {
  @include center-children;
  margin: 10px auto;
  width: 60%;
}

@mixin contenedor_secundario {
  @include texto;
  @include alto_minimo();
  padding-left: 2px;
  padding-right: 2px;
}

@mixin childDark($color, $init, $end) {
  $cont: $end;
  @for $i from $init through $end {
    div:nth-child(#{$i}) {
      background-color: darken($color, $cont * 10);
      @include contenedor_secundario;
    }
    $cont: $cont - 1;
  }
}

@mixin childLighten($color, $init, $end) {
  @for $i from $init through $end {
    div:nth-child(#{$i}) {
      background-color: lighten($color, $i * 4);
      @include contenedor_secundario;
    }
  }
}
