@import "https://fonts.googleapis.com/css?family=Raleway";

$blue-color: teal;

$baseFontFamily: "Raleway";
$baseFontSize: 30px;
$baseBorder: solid;


.main {
  color: $blue-color;
  font-family: $baseFontFamily, sans-serif;
  font-size: $baseFontSize;
  font-style: $baseBorder;
}

img {
  display: block;
  width: 200px;
}
